@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e3f2fd;
  border-radius: 5px;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  background: #293447;
}
.game-details {
  color: #b8d6dc;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.score {
}
.hight-core {
}
.play-board {
}
